/* -------------
    imports
------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----------------
    utilities
---------------- */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

/* -------------------
    Header Styles 
------------------- */
header {
    padding: 50px 0;
    background-color: rgb(0, 0, 190);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.copa-america h1 {
    margin: 0;
    font-size: 64px;
    color: white;
}

.copa-america a {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
}

.kick-football img {
    width: 550px;
}

/* -------------------
    Main Styles 
------------------- */
main {
    margin: 70px 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    width: 330px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player .player-image img {
    width: 100%;
}

.player h3 {
    margin: 12px 0;
    font-size: 24px;
    font-weight: 700;
}

.player p {
    margin: 0;
}