/* -------------
    imports
------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -------------------------------
    utilities - general rules
------------------------------- */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

/* --------------------------------
    utilities - animation rules
-------------------------------- */
@keyframes zoom-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* -------------------
    Header Styles 
------------------- */
header {
    min-width: 100%;
    padding: 50px 0;
    background-color: rgb(0, 0, 190);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.copa-america h1 {
    margin: 0;
    font-size: 64px;
    color: white;
}

.copa-america a {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
}

.kick-football {
    position: relative;
}

.kick-football:hover {
    transform: skewx(-15deg);
    transition: transform 1.2s;
}

.kick-football img {
    width: 550px;
}

.copa-names {
    display: none;
    position: absolute;
    bottom: 0;
    width: 480px;
    padding: 35px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0 100px 0 100px;
}

.kick-football:hover .copa-names {
    display: block;
    animation: zoom-in 1.2s;
}

.copa-names h3 {
    color: lightblue;
}

.copa-names h3, p {
    margin-top: 0;
}

.copa-names p {
    margin-bottom: 0;
    color: rgb(200, 200, 200);
}

/* -------------------
    Main Styles 
------------------- */
main {
    margin: 70px 0 140px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    width: 330px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player .player-image img {
    width: 100%;
}

.player h3 {
    margin: 12px 0;
    font-size: 24px;
    font-weight: 700;
    color: lightskyblue;
}

.player p {
    margin: 0;
    color: rgb(128, 128, 128);
}

/* ---------------------------
    News Styles (for bonus part) 
--------------------------- */
.news-box {
    align-items: center;
    width: 100%;
    height: 500px;
    margin-bottom: 70px;
    background-image: url("../images/bg-regular.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.news-box .news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.news-box .news-container .news {
    position: relative;
    width: 250px;
    height: 270px;
    margin: 0 10px;
    overflow: hidden;
}

.news .link-button {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 10%;
    width: 100%;
}

.news:hover .link-button {
    transform: scale(0);
}

.news .link-button a {
    text-decoration: none;
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(200, 200, 200);
    border-radius: 20px;
}

.news img {
    width: 100%;
    height: 100%;
}

.news:hover img {
    transform: scale(1.5);
    cursor: pointer;
    transition: transform 1s;
}

.news .news-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: calc(100% - 10px);
    color:rgb(200, 200, 200);
    background-color:black;
}

.news .news-info h3, p {
    padding: 0;
    margin: 0;
}

.news .news-info p {
    display: none;
    color: lightslategray;
    margin-top: 10px;
}

.news:hover p {
    display: block;
    animation: zoom-in 1s;
}

/* -------------------------------------------
    Subscription Styles (for bonus part) 
------------------------------------------- */
.subscription-section {
    margin-bottom: 70px;
}

.subscription-container, form {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
}

input, button[type="submit"] {
    border-radius: 20px;
}

input[type="text"] {
    display: inline-block;
    width: 600px;
    padding: 10px;
    border: 1px solid black;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 40px;
    border: none;
    color: white;
    background-color: black;
}

button[type="submit"]:hover {
    cursor: pointer;
    background: gray;
}

/* -------------------
    Footer Styles  
------------------- */

footer {
    width: 100%;
    margin-top: 100px;
}

.ft-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.logo-container {
    width: 480px;
}

.logo-container img {
    width: 100%;
}

.social-icons-container {
    display: flex;
    justify-content: center;
}

.fab {
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: lightgray;
    color: rgb(100, 100, 100);
}

.copyright-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* -------------------
    Media Queries  
------------------- */

/* for large devices */

@media only screen and (max-width: 1250px) {
    /* for header section */
    .top-bar {
        width: 800px;
    }

    .copa-america h1 {
        font-size: 40px;
    }

    .kick-football img {
        width: 480px;
    }

    /* for main section */
    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* for news section */
    .news-box {
        height: 600px;
    }

    .news-box .news-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* for subscription section */
    .subscription-container, form {
        width: 800px;
    }
}

/* for tabs or ipads */
@media only screen and (max-width: 850px) {
    /* for header section */
    header {
        display: block;
        width: 100%;
    }

    .top-bar {
        flex-direction: column;
        width: 600px;
    }

    .copa-america h1 {
        font-size: 40px;
    }

    .kick-football img {
        width: 480px;
        margin-top: 50px;
    }

    /* for main section */
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* for news section */
    .news-box {
        height: 600px;
        padding: 25px;
        overflow-y: scroll;
    }

    .news-box .news-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }

    /* for subscription section */
    .subscription-container, form {
        width: 300px;
    }
}

/* for mobile devices */
@media only screen and (max-width: 650px) {
    /* for header section */
    header {
        display: block;
        width: 100%;
    }

    .top-bar {
        flex-direction: column;
        width: 300px;
    }

    .copa-america h1 {
        font-size: 40px;
    }

    .kick-football img {
        width: 250px;
        margin-top: 50px;
    }

    .copa-names {
        width: 250px;
        padding: 10px;
        border-radius: 0 10px;
    }

    /* for main section */
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* for news section */
    .news-box {
        height: 600px;
        padding: 25px;
        overflow-y: scroll;
    }

    .news-box .news-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }

    /* for subscription section */
    .subscription-container, form {
        width: 300px;
    }
}
